DirectoryIndex index.php

RedirectMatch 404 /\.svn(/|$)

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^(about|imprint)$ $1.html [nc]
RewriteRule ^(index|properties|go)$ $1.php [nc]
</IfModule>

