body {
	margin:0;
	padding:0;
	background-color:white;
	font: 9pt 'Helvetica Neue','Nimbus Sans','Helvetica','Arial',sans-serif;
}

a:link, a:visited {
  color: #575757;
}

a:hover, a:active {
  color: #5757ff;
}

#main {

}

#main p {
	margin:0;
	padding:0;
	margin-top:1em;
	margin-bottom:1em;
}

#main h3 {
	margin:0;
	padding:0;
	margin-top:0.7em;
	margin-bottom:0.7em;
	font-size: 10pt;
	font-weight:bold;
}

.suggest_link {
	background-color: #FFFFFF;
	color: #333;
	padding: 5px 10px 5px 10px;
	font-size: 13px;
}
.suggest_link img {
	width: 16px;
	height: 16px;
	border: 0 none;
	margin-right: 0.8em;
}
.suggest_link .exact-match {
	font-weight: bold;
}
.suggest_link_over {
	background-color: #d8e8ff;
}
.search_result {
	width: 100%;
	display: inline-block;
	min-height: 20px;
	line-height: 20px;
	font-size: 15px;
	padding: 1px 0;
}
#search_suggest {
	width:23em;
	margin:0px;
	padding:0px;
	position: absolute;
	text-align:left;
	background-color: #FFFFFF;
	border: 1px solid #98ceff;
	display: none;
}

#head p {
	margin-top:0;
	margin-bottom:0;
}
#head li {
	display: inline;
	margin:0;
	padding:0;
	margin-right:0.5em;
}
#head ul {
	margin:0;
	padding:1em;
}

#propertiesLink {
    padding: .5em 1em;
    width:8em;
    text-align:right;
    vertical-align: top;
}

#main {
	clear:both;
	padding-top:2em;
	padding-left:5em;
	padding-right:5em;
}

#langs {
	margin-bottom:0.5em;
	font-size:9pt;
}

#mainbox {
	width:45em;
	padding:1.5em;
}

#featurebox {
	align:center;
	padding:0;
	margin:2em auto 1em auto;
}

.feature-wrapper {
	background-color:#ffffff;
	min-width:45em;
	align:center;
	border:1px solid #999;
	padding: 1.5em;
	border-radius:8px;
	-moz-border-radius:8px;
}

.feature {
	background-color:#ffffff;
		
}

 .featurebox-grid td {
    text-align: left;
 }

 .featurebox-image-wrapper {
    margin-left:1em;
    margin-right:1.5em;
 }

 .featurebox-subtitle {
    font-style: italic;
    text-align: center;
    font-size: 90%;
  }

 .featurebox-bildnachweis {
    font-style: normal;
    text-align: left;
    font-size: 60%;
    margin-bottom: .6em;
  }

 .featurebox-center-cell img {
    padding: 0 1em 0 1em;
 }

 .featurebox-text-cell {
    line-height: 180%;
    text-align: left;
 }

 .featurebox-text-cell p {
    margin: 0;
    padding: 0 0 0.66em 0;
    line-height: 180%;
 }

 .featurebox-text-cell ul {
    line-height:1.5em;
    margin:0.3em 0 0 1.5em;
    padding:0;
 }

.shadow2{
	box-shadow: 7px 7px 8px #818181; /* CSS 3 */
	-webkit-box-shadow: 7px 7px 8px #818181; /* Safari */
	-moz-box-shadow: 7px 7px 8px #818181;  /* Mozilla */
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true); /* MSIE */
}

#mainimage {
	width:110px;
	float:left;
}

#maincontent {
	text-align: left;
	margin: 30px 0 0 0;
}

#donationbox {
	margin-top:2em;

	width:45em;
	align:center;
	padding:1.5em;


	background-color:#ffffff;
	border:1px solid #999;
	-moz-border-radius:8px;
}

#donationbox_top {
	margin:1em auto;

	width:736px;
	min-width:736px;
	max-width:736px;
	/* height: 90px; */
	text-align: center;
	align: center;

	background-color:#ffffff;
	border:1px solid #999;
	-moz-border-radius:8px;
}

#donationbox_bottom {
	margin-top:2em;
	margin-bottom: 0.5em;

	width:736px;
	height: 90px;
	text-align: center;


	background-color:#ffffff;
	border:1px solid #999;
	-moz-border-radius:8px;
}

form {
	margin:0;
	padding:0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#form {
	margin:0;
	padding:0;
}
#txtSearch {
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #a2a9b1;
	border-right: none;
	height: 45px;
	-webkit-appearance: textfield;
	width: 100%;
	padding: 8px 8px 8px 8px;
	font-size: 16px;
	line-height: 1.6;
}
#txtSearch:active, #txtSearch:focus {
	border: 2px solid #36c;
	border-right: none;
}
#cmdSearch {
	height: 45px;
	background-color: #36c;
	border: none;
	color: #fff;
	margin: 0;
	padding: 0;
	z-index: 2;
	font-size: 16px;
	line-height: 1.6;
	vertical-align: middle;
	display: inline-block;
	zoom: 1;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	min-height: 19px;
	min-width: 16px;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: background .1s ease,color .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
	transition: background .1s ease,color .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
	-moz-transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease,-moz-box-shadow .1s ease;
	transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease;
	transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
	width: 90px;
}
.search-icon {
	background-image: url(img/wmde_search_icon.svg);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	background-size: 30px auto;
	background-position: center;
}
#cmdSearch:hover {
	background: #447ff5;
	border-color: #447ff5;
}
#footer {
	margin-top:5em;
	font-size:9pt;
	color:#333;
}
#advanced_search {
	padding: 0.7em 0 0;
}
#donationfooter {
	padding-top:2em;
	font-size:9pt;
	color:#333;
	clear:both;
}

input {
	margin:0px;
	padding:0;

}
