body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	margin:0;
	padding:0;
	background-color:white;
	font: 14px 'Helvetica Neue','Nimbus Sans','Helvetica','Arial',sans-serif;
}
#main {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
}

#mainbox {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

a:link, a:visited {
	color: #575757;
}

a:hover, a:active {
	color: #373737;
}

a {
	text-decoration: none;
}
p {
	margin:0;
	padding:0;
	margin-top:1em;
	margin-bottom:1em;
}

#main h3 {
	margin:0;
	padding:0;
	margin-top:0.7em;
	margin-bottom:0.7em;
	font-size: 10pt;
	font-weight:bold;
}

.suggest_link {
	background-color: #FFFFFF;
	color: #333;
	font-size: 13px;
	position: relative;
}
.suggest_link img {
	width: 16px;
	height: 16px;
	border: 0 none;
	margin-right: 0.8em;
}
.suggest_link .exact-match {
	font-weight: bold;
}
.search_result {
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	min-height: 25px;
	line-height: 25px;
	font-size: 15px;
	padding: 10px 20px 10px 10px;
}
.suggest_link_over .search_result {
	color: #575757;
	background-color: #f3f3f3;
}
#search_suggest {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #a2a9b1;
	border-top: none;
	display: none;
	max-width: 560px;
	box-sizing: border-box;
	z-index: 5;
}

@media (max-width: 600px) {
	#search_suggest {
		width: calc(100% - 42px);
	}
}

#head p {
	margin-top:0;
	margin-bottom:0;
}
#head li {
	display: inline;
	margin:0;
	padding:0;
	margin-right:0.5em;
}
#head ul {
	margin:0;
	padding:1em;
}

#propertiesLink {
	padding: .5em 1em;
	width:8em;
	text-align:right;
	vertical-align: top;
}

#langs {
	margin-bottom:0.5em;
	font-size:9pt;
}

#mainbox {
	margin: 0 auto;
	text-align: center;
	width: 40em;
	padding: 4em 1.5em 4em 1.5em;
}

@media (max-width: 600px) {
	#mainbox {
		box-sizing: border-box;
		width:100%;
	}
}

#featurebox {
	padding:0;
	margin:6em auto 1em auto;
}

.feature-wrapper {
	background-color:#ffffff;
	max-width:45em;
}

.feature {
	background-color:#ffffff;

}

.featurebox-grid td {
	text-align: left;
}

.featurebox-image-wrapper {
	margin-left:1em;
	margin-right:1.5em;
}

.featurebox-subtitle {
	font-style: italic;
	text-align: center;
	font-size: 90%;
}

.featurebox-bildnachweis {
	font-style: normal;
	text-align: left;
	font-size: 60%;
	margin-bottom: .6em;
}

.featurebox-center-cell img {
	padding: 0 1em 0 1em;
}

.featurebox-text-cell {
	line-height: 180%;
	text-align: left;
}

.featurebox-text-cell p {
	margin: 0;
	padding: 0 0 0.66em 0;
	line-height: 180%;
}

.featurebox-text-cell ul {
	line-height:1.5em;
	margin:0.3em 0 0 1.5em;
	padding:0;
}

.shadow2{
	box-shadow: 7px 7px 8px #818181; /* CSS 3 */
	-webkit-box-shadow: 7px 7px 8px #818181; /* Safari */
	-moz-box-shadow: 7px 7px 8px #818181;  /* Mozilla */
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true); /* MSIE */
}

#mainimage {
	width:110px;
	float:left;
}

#maincontent {
	text-align: left;
	margin: 30px 0 0 0;
}

form {
	margin:0;
	padding:0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#form {
	margin:0;
	padding:0;
}
input {
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #a2a9b1;
	border-right: none;
	height: 45px;
	width: 100%;
	padding: 8px 8px 8px 8px;
	font-size: 16px;
	line-height: 1.6;
	-webkit-appearance: textfield;
	-webkit-tap-highlight-color: #36c;
	outline: #36c;
}
@media (max-width: 330px) {
	input {
		max-width: 200px;
	}
}
input:active, input:focus {
	border: 2px solid #36c;
	border-right: none;
}
button {
	height: 45px;
	background-color: #36c;
	border: none;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.6;
	vertical-align: middle;
	display: inline-block;
	zoom: 1;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	user-select: none;
	box-sizing: border-box;
	position: relative;
	min-height: 19px;
	min-width: 16px;
	border-radius: 0 2px 2px 0;
	font-weight: 700;
	text-decoration: none;
	transition: background .1s ease,color .1s ease,border-color .1s ease,box-shadow .1s ease,-webkit-box-shadow .1s ease,-moz-box-shadow .1s ease;
	width: 90px;
}
.search-icon {
	background-image: url(img/wmde_search_icon.svg);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	background-size: 25px auto;
	background-position: center;
}
button:hover {
	background: #447ff5;
	border-color: #447ff5;
}
#footer {
	margin-top:5em;
	font-size:9pt;
	color:#333;
}
#advanced_search {
	padding: 0.7em 0 0;
}

#donationfooter {
	background-color: #202520;
	border-top: 1px solid #dddddd;
	padding-top: 2em;
	font-size: 9pt;
	color: #ffffff;
	bottom: 0;
	width: 100%;
}

#donationfooter a {
	color: #fff;
}
.link-block ul {
	padding: 0;
	margin: 0 auto;
	width: 90%;
	list-style: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

.link-block li {
	padding: 0;
	width: auto;
	margin-bottom: 10px;
	line-height: 150px;
	color: #fff;
	font: 14px Arial, Helvetica, sans-serif;
	text-align: left;
}

.link-block li p:first-child {
	margin-top: 0;
}

.wikipedia-logo img {
	height: 250px;
}

.wikimedia-logo {
	height: 50px;
}

@media (max-width: 900px) {
	.link-block ul {
		width: 43em;
	}
	.link-block li {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.link-block ul {
		padding: 0;
		margin: 0 auto;
		width: 250px;
	}
	.link-block li {
		width: 100%;
		margin-bottom: 30px;
	}
	.wikipedia-logo img {
		height: 200px;
	}
	#featurebox {
		margin: 2em 1.5em 1em 1.5em;
	}
	#mainbox {
		padding: 1em 1.5em 4em 1.5em;
	}
}

#featurebox strong {
	display: block;
	font-size: 14px;
	margin: 0 0 7px 0;
	color: #202520;
}

/* iPad landscape selector to ensure input field is always on screen */
@media (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.wikipedia-logo img {
		height: 200px;
	}
	#mainbox {
		padding: 0 1.5em 4em 1.5em;
	}
	#maincontent {
		margin: 10px 0 0 0;
	}
}