input[type=radio],
input[type=checkbox] { left: -9000px; }

input[type=radio].__checked + label:before,
input[type=checkbox].__checked + label:before { background-position: left center; }

input[type=radio].__disabled + label:before,
input[type=checkbox].__disabled + label:before { background-position: left top; }

input[type=radio].__checked.__disabled + label:before,
input[type=checkbox].__checked.__disabled + label:before { background-position: left bottom; }