div#subscriptionFormFeature {
    background: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #666666;
    text-align: left;
}

div#subscriptionFormFeature hr {
    color: #DDD;
    background: #DDD;
    border: none;
    height: 1pt;
    margin: 25px 0;
}

div#subscriptionFormFeature .section-title {
    color: #6cb9ee;
}

/* Form & Interaction elements =========================================================== */
div#subscriptionFormFeature form {
    position: relative;
}

div#subscriptionFormFeature textarea {
    -webkit-appearance: none;
    resize: none;
}

div#subscriptionFormFeature input {
    -webkit-appearance: none;
    border-radius: 0;
}

div#subscriptionFormFeature .input-container {
    position: relative;
    margin-bottom: 10px;
}

div#subscriptionFormFeature label {
    cursor: default;
    color: #666666;
    display: inline-block;
}

/* Radio button & Checkbox*/
div#subscriptionFormFeature input[type=radio],
div#subscriptionFormFeature input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

div#subscriptionFormFeature input[type=checkbox] + label,
div#subscriptionFormFeature input[type=radio] + label {
    position: relative;
    padding-left: 30px;
}

div#subscriptionFormFeature input[type=checkbox] + label:after,
div#subscriptionFormFeature input[type=radio] + label:after {
    clear: both;
    float: none;
    display: block;
    content: '';
}

div#subscriptionFormFeature input[type=radio] + label:before,
div#subscriptionFormFeature input[type=checkbox] + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
}

div#subscriptionFormFeature input[type=radio] + label:before {
    background: url(radio_button.png) no-repeat 0 0;
}

div#subscriptionFormFeature input[type=checkbox] + label:before {
    background: url(checkbox.png) no-repeat 0 0;
    margin-top: -2px;
}

div#subscriptionFormFeature input[type=radio]:checked + label:before,
div#subscriptionFormFeature input[type=checkbox]:checked + label:before {
    background-position: left center;
}

div#subscriptionFormFeature input[type=radio]:disabled + label:before,
div#subscriptionFormFeature input[type=checkbox]:disabled + label:before {
    background-position: left top;
}

div#subscriptionFormFeature input[type=radio]:disabled + label,
div#subscriptionFormFeature input[type=checkbox]:disabled + label {
    color: #b2b2b2;
}

div#subscriptionFormFeature input[type=radio]:disabled:checked + label:before,
div#subscriptionFormFeature input[type=checkbox]:disabled:checked + label:before {
    background-position: left bottom;
}

/* Textbox / Textarea*/
div#subscriptionFormFeature textarea,
div#subscriptionFormFeature input[type=number],
div#subscriptionFormFeature input[type=tel],
div#subscriptionFormFeature input[type=text] {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
    border: 1px solid #c2c7d5;
    padding: 8px 10px;
    background: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

div#subscriptionFormFeature input[type=number],
div#subscriptionFormFeature input[type=tel],
div#subscriptionFormFeature input[type=text] {
    padding-right: 30px;
}

textarea:focus,
div#subscriptionFormFeature input[type=number]:focus,
div#subscriptionFormFeature input[type=tel]:focus,
div#subscriptionFormFeature input[type=text]:focus {
    border: 1px solid #77bfef;
}

div#subscriptionFormFeature input[type=tel] + .validation,
div#subscriptionFormFeature input[type=text] + .validation {
    margin-left: -30px;
    margin-right: 14px;
    font-size: 1.2em;
    vertical-align: middle;
}

div#subscriptionFormFeature input[type=tel] ~ .validation-explanation,
div#subscriptionFormFeature input[type=text] ~ .validation-explanation {
    font-size: 0.8em;
    vertical-align: middle;
    display: inline-block;
}

div#subscriptionFormFeature input[type=tel].invalid + .validation,
div#subscriptionFormFeature input[type=text].invalid + .validation,
div#subscriptionFormFeature input[type=tel].invalid ~ .validation-explanation,
div#subscriptionFormFeature input[type=text].invalid ~ .validation-explanation {
    color: #f3a5a5;
}

div#subscriptionFormFeature input[type=tel].valid + .validation,
div#subscriptionFormFeature input[type=text].valid + .validation,
div#subscriptionFormFeature input[type=tel].valid ~ .validation-explanation,
div#subscriptionFormFeature input[type=text].valid ~ .validation-explanation {
    color: #a5da9b;
}

/* main */
div#subscriptionFormFeature .box-header {
    background: #64aadb;
}

div#subscriptionFormFeature label {
    width: 100px;
}

div#subscriptionFormFeature input[type=radio] + label {
    width: auto;
}

div#subscriptionFormFeature input[type="text"] {
    width: 342px;
}

div#subscriptionFormFeature ul.salutation {
    display: inline-block;
    width: 160px;
    margin-right: 7px;
    margin-left: 65px;
    vertical-align: middle;
}

div#subscriptionFormFeature #personal-title {
    width: 168px;
}

/* Safari 7 fix*/
#personal-title-button, #personal-title-menu {
    width: 168px !important;
}

div#subscriptionFormFeature #first-name {
    width: 169px;
}

div#subscriptionFormFeature #last-name {
    width: 169px;
}

div#subscriptionFormFeature #post-code {
    width: 169px;
}

div#subscriptionFormFeature #city {
    width: 169px;
}

div#subscriptionFormFeature .approval {
    font-weight: bold;
    color: #000;
}

div#subscriptionFormFeature .approval .icon-ok:before {
    color: #69c159;
}

div#subscriptionFormFeature #country {
    width: 350px;
}

div#subscriptionFormFeature ul, ol {
    list-style: none;
}

div#subscriptionFormFeature ul li {
    margin-bottom: 15px;
}

div#subscriptionFormFeature ul.horizontal li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

div#subscriptionFormFeature ul.horizontal li label {
    width: auto !important;
}

/* button */
div#subscriptionFormFeature button[type=submit],
div#subscriptionFormFeature input[type=button],
div#subscriptionFormFeature a.button {
    margin-left: 103px;
    padding: 10px 40px !important;
    color: #000;
    border: 0;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    height: auto !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: rgb(254, 239, 0);
    background: -moz-linear-gradient(top, rgb(254, 239, 0) 0%, rgb(252, 223, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(254, 239, 0)), color-stop(100%, rgb(252, 223, 0)));
    background: -webkit-linear-gradient(top, rgb(254, 239, 0) 0%, rgb(252, 223, 0) 100%);
    background: -o-linear-gradient(top, rgb(254, 239, 0) 0%, rgb(252, 223, 0) 100%);
    background: -ms-linear-gradient(top, rgb(254, 239, 0) 0%, rgb(252, 223, 0) 100%);
    background: linear-gradient(to bottom, rgb(254, 239, 0) 0%, rgb(252, 223, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feef00', endColorstr='#fcdf00', GradientType=0);
}

div#subscriptionFormFeature button[type=submit]:hover,
div#subscriptionFormFeature button[type=submit]:active,
div#subscriptionFormFeature input[type=button]:hover,
div#subscriptionFormFeature input[type=button]:active,
div#subscriptionFormFeature a.button:hover,
div#subscriptionFormFeature a.button:active {
    text-decoration: none;
    background: rgb(253, 216, 0);
    background: -moz-linear-gradient(top, rgb(253, 216, 0) 0%, rgb(251, 201, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(253, 216, 0)), color-stop(100%, rgb(251, 201, 0)));
    background: -webkit-linear-gradient(top, rgb(253, 216, 0) 0%, rgb(251, 201, 0) 100%);
    background: -o-linear-gradient(top, rgb(253, 216, 0) 0%, rgb(251, 201, 0) 100%);
    background: -ms-linear-gradient(top, rgb(253, 216, 0) 0%, rgb(251, 201, 0) 100%);
    background: linear-gradient(to bottom, rgb(253, 216, 0) 0%, rgb(251, 201, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd800', endColorstr='#fbc900', GradientType=0);
}

div#subscriptionFormFeature button[type="submit"] [class^="icon-"],
div#subscriptionFormFeature input[type=button] [class^="icon-"],
div#subscriptionFormFeature a.button [class^="icon-"] {
    font-size: 1.2em;
    position: relative;
    top: 2px;
    padding-left: 10px;
    color: #FFF;
    margin-right: -5px;
    display: inline-block;
    width: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default .ui-widget-header .ui-state-default {
    background: none;
}

a.ui-selectmenu:hover {
    color: #575757;
}

.ui-corner-all {
    border-radius: 2px;
}

#ajax-overlay {
    background-color: #666;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('//upload.wikimedia.org/wikipedia/commons/2/2a/Loading_Key.gif');
    background-position: center;
    background-repeat: no-repeat;
}

#errorbox {
    color: #333;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f3a5a5;
}