#WMDE_BannerFullForm-step1 {
    /*display: none;*/
}

#WMDE_BannerFullForm-step2 {
    display: none;
}

#WMDE_BannerFullForm-nosepa {
    display: none;
}

#WMDE_BannerFullForm-company {
    display: none;
}

#WMDE_BannerFullForm-details {
    display: none;
}

#WMDE_BannerFullForm-info {
    display: none;
}

#WMDE_BannerFullForm-funds {
    display: none;
}

#WMDE_BannerFullForm-bitcoin {
    display: none;
}

#WMDE_BannerFullForm-taxes {
    display: none;
}

#WMDE_BannerFullForm-dataprotection {
    display: none;
}

#WMDE_BannerFullForm-arrow {
    display: none;
    height: 27px;
    background: transparent url('../img/form-arrow-down.png') no-repeat scroll right top;
    margin-right: 19px;
}

#WMDE_BannerFullForm {
    position: absolute;
    right: 21px;
    margin-top: 0;
}

#WMDE_BannerFullForm hr {
    width: 248px;
}

#WMDE_BannerFullForm td {
    background: #eef0fc;
    padding: 8px 8px 0 8px;
}

#WMDE_BannerForm-wrapper {
    padding: 0 8px 4px;
}

#WMDE_BannerForm-payment td {
    padding: 4px 8px 0 8px;
}

#WMDE_BannerFullForm button:focus {
    outline: none;
}

td#WMDE_BannerFullForm-wrapper {
    background: transparent;
    width: 248px;
    padding: 0;
}

#WMDE_BannerFullForm-shadow {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CC000000', endColorstr='#CC000000'); /* IE6-9 */
}

#WMDE_BannerFullForm td.form-heading {
    font-weight: bold;
    font-size: 13px;
    height: 9px;
    padding: 0;
    background-color: #dad9ed
}

#WMDE_BannerFullForm span.form-heading-text {
    line-height: 9px;
    margin-left: 9px;
    padding: 0 9px;
    background-color: #eef0fc
}

#WMDE_BannerFullForm label.salutation-label {
    margin-right: 21px;
}

#WMDE_BannerFullForm label.address-label {
    margin-right: 3px;
}

#WMDE_BannerFullForm input[type=text], #WMDE_BannerFullForm input[type=tel] {
    width: 244px;
}

#WMDE_BannerFullForm select {
    width: 248px;
}

#WMDE_BannerFullForm input.small-input {
    width: 117px;
}

#WMDE_BannerFullForm select.small-input {
    width: 96px;
}

#WMDE_BannerFullForm #send-information {
    float: left;
    margin-top: 7px;
    margin-bottom: 12px;
}

#WMDE_BannerFullForm #send-information-label {
    float: left;
    margin-top: 7px;
    margin-left: 4px;
    white-space: normal;
    display: block;
    width: 210px;
    margin-bottom: 12px;
}

#WMDE_BannerFullForm .icon-question-sign {
    position: relative;
    right: -227px;
    margin-top: 7px;
    margin-left: 6px;
    background: transparent url('../img/form-info-icon.png') no-repeat scroll center center;
    width: 14px;
    height: 14px;
    display: block;
}

#WMDE_BannerFullForm button.submit {
    background: #ffff00 url('../img/form-submit-ok.png') scroll 2px center;; /* Old browsers */
    background: -moz-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff00), color-stop(100%, #e5e500)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffff00 0%, #e5e500 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffff00 0%, #e5e500 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#e5e500', GradientType=0); /* IE6-9 */
    border: 0 none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    width: 248px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
}

#WMDE_BannerFullForm-finish, #WMDE_BannerFullForm-finish-sepa {
    padding-right: 19px;
}

button#WMDE_BannerFullForm-finish.waiting, button#WMDE_BannerFullForm-finish-sepa.waiting {
    background: #e5e500 url('../img/form-submit-ok.png') scroll 2px center;; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e500 0%, #ffff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e500), color-stop(100%, #ffff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e500 0%, #ffff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e500 0%, #ffff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e500 0%, #ffff00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e5e500 0%, #ffff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e500', endColorstr='#ffff00', GradientType=0); /* IE6-9 */
    opacity: 0.6;
}

#WMDE_BannerFullForm-finish .mark-ok, #WMDE_BannerFullForm-finish-sepa .mark-ok {
    width: 17px;
    height: 13px;
    position: absolute;
    margin-left: 2px;
    background: transparent url('../img/form-submit-ok.png') scroll center center;
}

#WMDE_BannerFullForm-finish.waiting .mark-ok, #WMDE_BannerFullForm-finish-sepa.waiting .mark-ok {
    width: 18px;
    height: 18px;
    background: transparent url('//upload.wikimedia.org/wikipedia/commons/4/42/Loading.gif') scroll center center;
}

#WMDE_BannerFullForm div.form-field-error-box {
    margin-left: -34%;
    position: absolute;
    z-index: 1;
}

#WMDE_BannerFullForm span.form-field-error-text {
    border: 1px solid #C25959;
    border-radius: 4px;
    background: #FFFFFF url('../img/form-error-excl.png') no-repeat scroll 2px center;
    color: #C25959;
    padding: 2px 2px 2px 18px;
    font-size: 13px;
}

#WMDE_BannerFullForm div.form-field-error-arrow {
    position: relative;
    top: -2px;
    background: transparent url('../img/form-arrow-error.png') no-repeat scroll center center;
    width: 14px;
    height: 8px;
    margin: auto;
}

#WMDE_BannerFullForm .validation {
    position: absolute;
    height: 11px;
    width: 11px;
    margin-left: -15px;
    margin-top: 3px;
}

#WMDE_BannerFullForm .icon-bug {
    background: transparent url('../img/form-input-error.png') no-repeat scroll center center;
}

#WMDE_BannerFullForm .icon-ok {
    background: transparent url('../img/form-input-valid.png') no-repeat scroll center center;
}

#WMDE_BannerFullForm-close-step1, #WMDE_BannerFullForm-close-step2 {
    background-color: #eef0fc;
    text-align: center;
    width: 90px;
    height: 20px;
    margin: -2px auto auto;
    border-radius: 4px;
    cursor: pointer;
}

#WMDE_BannerFullForm p {
    white-space: normal;
    margin: 15px 5px;
}

#WMDE_BannerFullForm a {
    color: black;
    text-decoration: underline;
}

#WMDE_BannerFullForm-step2 {
    margin-top: 12px;
}

#confirm_sepa, #confirm_shortterm {
    margin: 1px 3px 0 0;
    float: left;
}

#confirm_sepa {
    margin-bottom: 240px;
}

#confirm_shortterm {
    margin-bottom: 90px;
}

#WMDE_BannerFullForm-info {
    position: absolute;
    right: 304px;
    width: 480px;
}

#WMDE_BannerFullForm-info.funds {
    width: 690px;
}

#WMDE_BannerFullForm-info.taxes {
    width: 430px;
}

#WMDE_BannerFullForm-info.dataprotection {
    width: 430px;
}

@media screen and (min-width: 1000px) {
    #WMDE_BannerFullForm-info.taxes,
    #WMDE_BannerFullForm-info.dataprotection {
        width: 680px;
    }
}

@media screen and (min-width: 1250px) {
    #WMDE_BannerFullForm-info.funds,
    #WMDE_BannerFullForm-info.dataprotection {
        width: 940px;
    }
}

#WMDE_BannerFullForm-infolinks, #WMDE_BannerFullForm-security, #WMDE_BannerFullForm-taxes,
#WMDE_BannerFullForm-bitcoin, #WMDE_BannerFullForm-funds, #WMDE_BannerFullForm-dataprotection {
    margin-top: 20px;
}

#WMDE_BannerFullForm-infolinks, #WMDE_BannerFullForm-security {
    float: right;
}

#WMDE_BannerFullForm-taxes, #WMDE_BannerFullForm-bitcoin, #WMDE_BannerFullForm-funds, #WMDE_BannerFullForm-dataprotection  {
    float: left;
}

.banner-lightbox-funds {
    width: 650px;
}

.banner-lightbox-tax, .banner-lightbox-dataprotection {
    width: 390px;
}

@media screen and (min-width: 1250px) {
    .banner-lightbox-dataprotection {
        width: 640px;
    }
}
